:root {
  --primary-color: #531d84;
  --secondary-color: #d6d4ff;
  --box-shadow: 0 5px 10px #c8bed6;
}

body {
  background-image: url("../images/BG4000.jpg");
  background-size: contain;
  font-family: "Architects Daughter", cursive;
  font-family: "Vazirmatn", sans-serif;
}

h2 {
  color: var(--secondary-color);
  margin: 20px;
  font-size: 50px;
}

p,
ul {
  color: var(--secondary-color);
  margin: 20px;
}

img {
  box-shadow: var(--box-shadow);
}

.hero {
  color: var(--secondary-color);
  margin: 220px 90px;
}

.hero h1 {
  font-size: 50px;
}

.hero p {
  font-size: 30px;
}

.but {
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.latest-project {
  color: var(--secondary-color);
  margin: 200px 90px;
}

.latest-project p {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
}

.contactme {
  color: var(--secondary-color);
  margin: 100px 90px;
}

.contact-point {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.about-p p {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px;
}

.col-sm-6 p {
  border-radius: 10px;
}

.certificate {
  margin: 90px;
}

.projects h5,
p {
  color: var(--secondary-color);
}

@media (max-width: 900px) {
  body {
    text-align: center;
  }

  h2 {
    color: var(--secondary-color);
    font-size: 20px;
  }

  p,
  ul {
    margin: 10px;
  }

  .hero {
    margin: 65px;
  }

  .hero h1 {
    font-size: 25px;
  }

  .hero p {
    font-size: 17px;
  }

  .latest-project {
    margin: 20px 10px;
  }

  .contactme {
    margin: 10px 10px;
  }

  .certificate {
    margin: 20px;
  }
}
