:root {
  --primary-color: #531d84;
  --secondary-color: #d6d4ff;
  --box-shadow: 0 5px 10px #c8bed6;
}

body {
  background-image: url("../images/BG4000.jpg");
  background-size: contain;
  font-family: "Architects Daughter", cursive;
  font-family: "Vazirmatn", sans-serif;
  margin: 20px;
  color: var(--secondary-color);
}

h2 {
  color: var(--secondary-color);
  font-size: 50px;
  text-align: center;
}

p,
ul {
  margin: 20px;
}

img {
  box-shadow: var(--box-shadow);
}

input {
  color: var(--secondary-color);
}

nav {
  height: 40px;
}

footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  padding: 3px;
}

.hero {
  margin: 220px;
}

.hero h1 {
  font-size: 50px;
}

.hero p {
  font-size: 30px;
}

.but {
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.latest-project {
  margin: 200px;
}

.latest-project p {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
}

#contact-me {
  color: var(--secondary-color);
  margin: 100px;
}

.contact-point {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px;
}

.about-p p {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px;
}

.col-md-6 p {
  border-radius: 5px;
  margin-bottom: 3px;
}

.certificate {
  margin: 90px;
  text-align: center;
}

.certificate p {
  color: var(--primary-color);
}

.certificate h5 {
  color: var(--primary-color);
}

.projects {
  text-align: center;
}

.projects h5 {
  color: var(--primary-color);
}

.projects p {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  body {
    text-align: center;
  }

  h2 {
    font-size: 20px;
  }

  p,
  ul {
    margin: 10px;
  }

  .hero {
    margin: 65px;
  }

  .hero h1 {
    font-size: 25px;
  }

  .hero p {
    font-size: 17px;
  }

  .latest-project {
    margin: 20px 10px;
  }

  .contactme {
    margin: 10px 10px;
  }

  .but {
    margin-bottom: 5px;
  }

  .certificate {
    margin: 20px;
  }

  .col-md-4 {
    margin: 3px;
  }

  .col-md-3 {
    margin: 3px;
  }
}
